<h3>Stock Categories <span class="pull-right"><a href="#/new" class="btn btn-primary btn-sm">New category</a></span></h3>
<br/>
<table id="stock_categories-table" class="table table-bordered table-responsive">
  <tr>
    <th>Category name</th>
    <th>Quality</th>
    <th>Today's Rate/GM</th>
    <th>Weight(gm) in stock</th>
    <th>Amount Spent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>