<h3>Stock <span class="pull-right"><a href="#/new" class="btn btn-primary btn-sm">Add Stock</a></span></h3>
<br/>
<table id="stocks-table" class="table table-bordered table-responsive">
  <tr>
    <th>Sku</th>
    <th>Name</th>
    <th>Category</th>
    <th>Purchase rate</th>
    <th>Quantity</th>
    <th>Weight</th>
    <th>GST rate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>