<h3>Customers <span class="pull-right"><a href="#/new" class="btn btn-primary btn-sm">New Customer</a></span></h3>
<br/>
<table id="customers-table" class="table table-bordered table-responsive">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Contact</th>
    <th>Total amount</th>
    <th>Paid amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>