<h3>Stores <span class="pull-right"><a href="#/new" class="btn btn-primary btn-small btn-block">Add Store</a></span></h3>
<br/>
<table id="store_configurations-table" class="table table-bordered table-responsive">
  <tr>
    <th>Store Name</th>
    <th>Store Description</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Website</th>
    <th>Address</th>
    <th>GSTN</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>