<div class="panel panel-default">
    <div class="panel-heading" id="customers">
    </div>
    <div class="panel-body" id="list">

    </div>
    <div class="panel-footer" id="totals">

    </div>
</div>